@keyframes bounce {
    
    -webkit-transform: translatey(0);
    transform: translatey(0);0% , 20% , 60% , 100% {
}
40% {
    -webkit-transform: translatey(-8px);
    transform: translatey(-8px); 
}
60% {
    -webkit-transform: translatey(-5,5x);
    transform: translatey(-5,5x); 
}
80% {
    -webkit-transform: translatey(-3px);
    transform: translatey(-3px); 
}
}

.a.-btn {
    display: inline-block;
    background-color: #F34213;
    height: 60px;
    line-height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px 0px #000;
    border-radius: 5px;
    margin-right: 0px;
}
  
.a.-btn:hover {
    color: #fff;
    animation: bounce 0.3s;
  }
  